<footer id="footer">
  <div class="anchor-group">
    <a class="footer-anchor" href="https://soundcloud.com/wompratbass" target="_blank"><i class="footer-icon fa-brands fa-soundcloud"></i></a>
    <a class="footer-anchor" href="https://womprat.bandcamp.com/" target="_blank"><i class="fa-brands fa-bandcamp"></i></a>
    <a class="footer-anchor" href="https://open.spotify.com/artist/1gupoVe8Q44cCk1rnQWCwO" target="_blank"><i class="fa-brands fa-spotify"></i></a>
    <a class="footer-anchor" href="https://instagram.com/wompratbass" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a class="footer-anchor" href="https://twitter.com/wompratbass" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  </div>
  <p class="copyright">
    © Womp Rat Bass 2022
  </p>
</footer>
</body>
</html>
