<%-include("partials/header")-%>

<section id="about">

  <section id="about-me">

    <div class="container-fluid container-one">

      <div class="row about-row1">

        <div class="col-12 col-lg-6 bio-con1">
          <h1 class="bio-h1">about the artist</h1>
          <p class="bio">Story-telling through sound design. Womp Rat aims to immerse the listener in other-worldly soundscapes structured around groove centric, dark, and heavy hitting beats. Combining elements of dubstep, funk, world
            music, hip hop,
            and detailed sound design his goal is to unite individuals using sound. </p>
          <br>
          <p class="bio">Womp Rat has taken the stage at many nightclubs and festivals across the west coast, including Emissions Festival, Serenity Gathering, Wormhole Entertainment Events, and many more. Go take a listen to his <a
              class="bio-anchor" href="/music">latest sounds.</a></p>
        </div>

        <div class="col-12 col-lg-6 pic1-col">
          <img class="bio-pic" src="images/media-pics/emissions-1.jpg" alt="Photo of Womp Rat at Emissions Festival">
        </div>

      </div>
    </div>
    <hr>

    <div class="row align-items-center  about-row2">
      <div class="col-12 col-lg-6 pic-con2">
        <div>
          <img class="bio-pic" src="images/media-pics/temple-3.jpg" alt="Photo of Womp Rat at Temple Nightclub, Denver">
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <h1 class="bio-h1">available for hire</h1>
        <p class="bio bio-text-p3">Originally from the San Francisco Bay Area, Womp Rat is currently based in Denver, Colorado. For more information on booking availabilty, rates and other details please reach out via the <a class="bio-anchor"
            href="/contact">contact page </a>to get in touch with management.
        </p>
      </div>

    </div>

  </section>
  <%-include("partials/footer")-%>
</section>
