<%-include("partials/header")-%>


  <section id="contact">

    <div class="bg-image">


    <div class="container contact-grouped">

      <div class="contact-header">
        <h1 class="contact-h1">get in touch</h1>
        <p class="contact-p">management: <a class="email-link" href="mailto:wompratbass@gmail.com" target="_blank">wompratbass@gmail.com</a></p>
      </div>


      <div class="contact-form">
        <form action="/contact" method="POST">
          <div class="form-group">
            <label class="form-label" for="exampleInputEmail1">sign up for the mailing list:</label>
            <input type="email" name="email" class="form-control name-box w-50 contact-email" id="exampleInputEmail1" aria-describedby="enter name" placeholder="enter your email..." autofocus>
          </div>
          <button type="submit" class="btn btn-dark btn-lg submit-button-contact">Submit</button>
        </form>

      </div>

      <div class="anchor-group socials">
        <h2 class="socials-h2">Socials:</h2>
        <a class="footer-anchor" href="https://soundcloud.com/wompratbass" target="_blank"><i class="footer-icon fa-brands fa-soundcloud"></i></a>
        <a class="footer-anchor" href="https://womprat.bandcamp.com/" target="_blank"><i class="fa-brands fa-bandcamp"></i></a>
        <a class="footer-anchor" href="https://open.spotify.com/artist/1gupoVe8Q44cCk1rnQWCwO" target="_blank"><i class="fa-brands fa-spotify"></i></a>
        <a class="footer-anchor" href="https://instagram.com/wompratbass" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="footer-anchor" href="https://twitter.com/wompratbass" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </div>

    </div>

    </div>

  </section>

  <footer id="footer">
    <p class="copyright">
      © Womp Rat Bass 2022
    </p>
  </footer>
  </body>
  </html>
