<%-include("partials/header")-%>

<section id="media">

  <div class="container-fluid media-main-con">

    <div class="row">

      <div class="col-lg-6 column-pics">

        <div class=" container hero">
          <h1 class="media-h1">photos</h1>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="img-fluid media-image" src="images/media-pics/temple-2.jpg" alt="Womp Rat at Temple, Denver">
            </div>
            <div class="carousel-item">
              <img class="img-fluid media-image" src="images/media-pics/serenity-crowd.jpg" alt="Womp Rat at Serenity Gathering">
            </div>
            <!-- <div class="carousel-item">
              <img class="img-fluid media-image" src="images/media-pics/temple-4.jpg" alt="Womp Rat at Temple, Denver">
            </div> -->
            <div class="carousel-item">
              <img class="img-fluid media-image" src="images/media-pics/womprat-2-resize1.jpg" alt="Womp Rat at Emissions Festival">
            </div>
            <div class="carousel-item">
              <img class="img-fluid media-image" src="images/media-pics/womp-rat-photo2.jpg" alt="Womp Rat in Arcata, CA">
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>

      <div class="col-lg-6 column-videos">

        <div class=" container hero2">
          <h1 class="media-h1">videos</h1>
        </div>
        <div class="container youtube-con1">
          <iframe class="youtube-embed-1" src="https://www.youtube.com/embed/FKHocZ8iGXA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
<!-- width="720" height="480" -->

      </div>

    </div>
  </div>

  <%-include("partials/footer")-%>

</section>
