<%-include("partials/header")-%>

<section id="music">

  <section id="discography">

    <div class="container-fluid disco">
      <h1 class="disco-h1">discography</h1>
    </div>

    <div class="container-fluid albums">

      <div class="row row-music">

        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/ground-zero" target="_blank"><img class="img-fluid" src="images/album-pics/ground-zero-400x400.png" alt="Ground Zero album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/ground-zero" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>


        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/phydrabass/phydra-womp-rat-hitscan" target="_blank"><img class="img-fluid" src="images/album-pics/hitscan-art-400x400.jpg" alt="Hitscan album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/phydrabass/phydra-womp-rat-hitscan" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>


        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/explore-mix" target="_blank"><img class="img-fluid" src="images/album-pics/Explore mix artwork-400.png" alt="Explore album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/explore-mix" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>

        <!-- <div class="w-100 d-xxl-none"></div> -->

        <div class="col-auto album-cover">
          <a class="cover-img" href="https://womprat.bandcamp.com/album/take-a-deep-breath" target="_blank"><img class="img-fluid" src="images/album-pics/Take-a-deep-breath-400.png" alt="Take a Deep Breath album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://womprat.bandcamp.com/album/take-a-deep-breath" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>

        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/nerfd" target="_blank"><img class="img-fluid" src="images/album-pics/nerfd-400.png" alt=" Nerf'd album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/nerfd" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>

        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/sub-terranean/womp-rat-canine-chimera?in=wompratbass/sets/canine-chimera" target="_blank"><img class="img-fluid" src="images/album-pics/canine-chimera-400.jpg" alt=" Canine Chimera album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/sub-terranean/womp-rat-canine-chimera?in=wompratbass/sets/canine-chimera" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>

        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/shadowtrixmusic/womp-rat-sector-w-r" target="_blank"><img class="img-fluid" src="images/album-pics/shadows-iv-400.jpg" alt="Sector-WR album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/shadowtrixmusic/womp-rat-sector-w-r" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>
        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/emissions-festival-mix-submission-2019" target="_blank"><img class="img-fluid" src="images/album-pics/MixContest19-400.jpg" alt="Emissions Festival 19 Mix Contest album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/emissions-festival-mix-submission-2019" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>

        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/two-15s-womp-rats-trashy-flip" target="_blank"><img class="img-fluid" src="images/album-pics/2-15s-400.png" alt="2-15's album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/two-15s-womp-rats-trashy-flip" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>

        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/sets/grimoire" target="_blank"><img class="img-fluid" src="images/album-pics/grimoire-400.jpg" alt="Grimoire album cover"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/sets/grimoire" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>


        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/onward" target="_blank"><img class="img-fluid" src="images/album-pics/onward-400.png" alt="Onward album art"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/onward" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>
        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/sweettunesmusic/treadingwater" target="_blank"><img class="img-fluid" src="images/album-pics/treading-water-400.png" alt="Treading Water album art"></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/sweettunesmusic/treadingwater" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>


        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/sets/split-vision-ep" target="_blank"><img class="img-fluid" src="images/album-pics/split-vision-400.png" alt=""></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/sets/split-vision-ep" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>
        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/mmh-ha-ha-ha-young-signorino-womp-rat-flip" target="_blank"><img class="img-fluid" src="images/album-pics/signorino-400.png" alt=""></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/mmh-ha-ha-ha-young-signorino-womp-rat-flip" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>


        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/bombtrack" target="_blank"><img class="img-fluid" src="images/album-pics/bombtrack-400.png" alt=""></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/bombtrack" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>


        <div class="col-auto album-cover">
          <a class="cover-img" href="https://soundcloud.com/wompratbass/sets/labyrinthian" target="_blank"><img class="img-fluid" src="images/album-pics/labyrinthian-400.png" alt=""></img></a>
          <div class="middle">
            <div>
              <a href="https://soundcloud.com/wompratbass/sets/labyrinthian" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>

        <!-- <div class="w-100 d-sm-none"></div> -->
      <!-- add more template!  -->
      <!-- <div class="row">
        <div class="col-lg-3 album-cover">
          <a class="cover-img" href="" target="_blank"><img class="img-fluid" src="images/album-pics/" alt="album art"></img></a>
          <div class="middle">
            <div>
              <a href="" target="_blank" <button type="button" class="btn btn-outline-black btn-md middle-text">listen</button></a>
            </div>
          </div>
        </div>
      </div> -->

    </div>

  </section>
<%-include("partials/footer")-%>
</section>
